#footer {
    padding: 3em;
    font-weight: 500;
}

#footerImageLinks img {
    width: 15%;
}

#footerLinks {
    padding: 1.5em;
}

#footerLinks a {
    color: white;
    padding: 1em;
    font-size: 16px;
}

a {
    text-decoration: none;
}

#unavoided a:visited {
    color: #01abc4;
}

#unavoided a:link {
    color: #01abc4;
}

#unavoided a:hover {
    color: gray;
}
