.gradientButton {
    text-decoration: none;
    background: linear-gradient(90deg, rgba(221, 17, 103, 1) 0%, rgba(247, 239, 59, 1) 35%, rgba(25, 137, 42, 1) 70%, rgba(24, 146, 190, 1) 100%);
    padding: 0.5em 1em;
    border: none;
    color: #000;
    font-size: 1em;
    line-height: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
}

.gradientButton:hover {
    background: linear-gradient(-90deg, rgba(221, 17, 103, 1) 0%, rgba(247, 239, 59, 1) 35%, rgba(25, 137, 42, 1) 70%, rgba(24, 146, 190, 1) 100%);
}
