.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#h2gig {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fcfcfc;
}

.form-element {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.form-group-parent {
    margin-bottom: 20px;
    text-align: left;
}

.form-group-child { 
    float: left;
    width: 50%;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fafafa;
}

/* Input styles */
input, #venue_id {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    color: black;
    background-color: #f9f9f9;
}

/* Input focus styles */
input:focus, #venue_id:focus {
    border-color: #ff8400;
    outline: none;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    color: black;
    background-color: #f9f9f9;
}

textarea:focus {
    border-color: #ff8400;
    outline: none;
}

/* Button styles */
.gradientButton {
    text-decoration: none;
    background: linear-gradient(90deg, rgba(221, 17, 103, 1) 0%, rgba(247, 239, 59, 1) 35%, rgba(25, 137, 42, 1) 70%, rgba(24, 146, 190, 1) 100%);
    padding: 0.5em 2em;
    border: none;
    color: #000;
    font-size: 1.2em;
    line-height: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 1000;
    font-style: normal;
    margin-top: 1em;
}

.gradientButton:hover {
    background: linear-gradient(-90deg, rgba(221, 17, 103, 1) 0%, rgba(247, 239, 59, 1) 35%, rgba(25, 137, 42, 1) 70%, rgba(24, 146, 190, 1) 100%);
}

.requiredField::after {
    content: "*";
    color: red;
}

#indicateField {
    text-align: left;
    margin-left: 10px;
}

#indicateField::before {
    content: "*";
    color: red;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.create-venue-link {
    color: #01b5d0;
}

.create-venue-link:hover {
    color: gray;
}
