.header{
    padding:10px;
    font-size:25px;
}

.festivalSquare {
    width:20%;
    aspect-ratio: 1/1;
    margin: 2%;
    transform: scale(1.025); 
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.festivalList {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 2% 6% 2% 6%;
    margin: 0 auto;
}

.festivalSquare:hover{
    transform: scale(1.1);

}

.festivalSquare a{
    text-decoration: none;
    color:white;
    text-align: center;
    width: inherit;
}

@media (max-width: 1200px) {
    .festivalSquare {
        width: 30%; /* 3 per row */
    }
}

@media (max-width: 768px) {
    .festivalSquare {
        width: 45%; /* 2 per row */
    }
}

@media (max-width: 480px) {
    .festivalSquare {
        width: 90%; /* 1 per row */
    }
}